node_modules/
.pnp
.pnp.js
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz

dist/
build/
out/
.output/
packages/shared/dist/

.env
.env.*
!.env.example
!.env.*.example

*.tsbuildinfo
tsconfig.tsbuildinfo

logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

pids/
*.pid
*.seed
*.pid.lock
.node_repl_history

coverage/
*.lcov
.nyc_output/
test-results/

.vite/
.turbo/
.parcel-cache/
.cache/
vite.config.ts.timestamp-*

apps/api/dist/

apps/api/uploads/
uploads/

.docker/
docker-compose.override.yml

k8s/secrets.*.yaml
k8s/*.sealed.yaml
kubeconfig
*.kubeconfig

.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/launch.json
.history/

._*
.Trashes
ehthumbs.db
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

package-lock.json
yarn.lock

*.local
.eslintcache
.stylelintcache
*.tgz
*.tar.gz